.cloud {
}
.boat {
  animation: sway 3s alternate infinite;
}
.wave {
	animation: line-sway 3s alternate infinite;
}
@keyframes sway {
	0% {
		transform: translateX(-30px);
	}
	30% {
		transform: rotate(4deg), translateX(-30px);
		transform-origin: 10% 60%;
	}
	60% {
		transform: translateX(-30px);
	}
	100% {
		transform: rotate(-5deg), translateX(-30px);
		transform-origin: 10% 60%;
	}
}
@keyframes line-sway {
	0% {
		transform: none;
	}
	25% {
		transform: rotate(15deg);
		transform-origin: 50% 50%;
	}
	75% {
		transform: none;
	}
	100% {
		transform: rotate(-15deg);
		transform-origin: 50% 50%;
	}
}